@import "variables.less";

input:focus, button:focus {
    outline:none !important;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	
	&.border {
		border-bottom: 1px solid @dark2;
	}
}

h2 {
	font-size: 36px;
	font-weight: 200;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
	
h3 {
	padding-bottom: 10px;
	border-bottom: 1px solid @dark2;
	margin-bottom: 20px;
	font-weight: 200;
}


button {
	
	&.link {
		border: none;
		background: none;
	}
	
}

table {
	
	&.no-borders {
		border: none !important;
		tr, td {
			border: none !important;
		}
	}
	
	.col100 {
		width: 100px;
	}
	
	&.table-parent-child {
		.parent {
			font-weight: bold;
			background-color: @darken;
		}
		
		.child {
			td:first-child {
				padding-left: 50px;
			}
		}
	}
	
}

form {
	.form-group {
		label {
			font-weight: 200;
		}
	}
	
	.form-splitter {
		font-weight: 600;
		margin-top: 40px;	
		margin-bottom: 15px;
		padding-bottom: 5px;
		border-bottom: 1px solid #ccc;
		
		label {
			padding-bottom: 0;
			margin-bottom: 0;
		}
			
	}
	
	
}

img {
	&.img-in-text {
		max-width: 200px;
		max-height: 200px;
	}
}

a {
	&:hover {
		text-decoration: none;
	}
	
	&.inline-block {
		display: inline-block;
	}
		
	&.size-md {
		font-size: 14px;
		padding-bottom: 5px;
		margin-bottom: 5px;
	}
	
	&.black {
		color: #000;
		&:hover {
			color: #333;
		}
	}
	
	&.red {
		.red-link();
	}
}