@import "variables.less";

.profile {

	.fix1 {
		font-size: 16px;
		line-height: 24px;
	}

}

#page-registration {
	padding-top: 100px;
	padding-bottom: 100px;

	.form-container {
		width: 100%;
		max-width: 400px;
		padding: 0 25px;
		margin: 0 auto;
	}

}

.p-bottom-20 {
	padding-bottom: 20px;
}

#organization-view {

	.resources {
		.nav {
			margin-bottom: 30px;
		}

		#current_apps {
			.item {
				a {
					line-height: 30px;
					.grey-link();
				}
			}
		}

	}
}

#update-report {
	#report-form {
		padding-bottom: 40px;
		margin-bottom: 40px;
	}
	#file-list {
		max-width: 800px;
		margin: 0 auto;
			padding-bottom: 40px;
			margin-bottom: 40px;
		.item {
			line-height: 30px;
			.title {
				float: left;
				width: 70%;
			}
			.controls {
				float: left;
				width: 30%;
			}
			&:after {
				content: "";
				display: block;
				clear: both;
			}
			&:hover {
				background: rgba(0,0,0,.1);
			}
		}
	}
}
