@import "variables.less";

* {
    -webkit-font-smoothing: antialiased;
}

/*14 16 */


@font-face {
    font-family: 'Roboto';
    src: url("/css/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url("/css/fonts/Roboto-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url("/css/fonts/Roboto-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url("/css/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url("/css/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

body {
	background: #e9ebee;
}

.btn {
	&.custom {
		background-color: @color1;
		color: @color0;

		&:active, &.active {
		    color: #f9f9f9;
		    background-color: @color3;
		    border-color: @color2;
		}

	}

	&.as-link {
		background-color: transparent;
		color: @dark1;
		padding: 0 0 10px 0;
		margin: 0 15px -2px 15px;

		&:hover {
			text-decoration: none;
		}

		&:active, &.active {
		    font-weight: 500;
		    border-bottom: 3px solid @color4;
			text-decoration: none;
		}
	}

	&.btn-strainght {
		border-radius: 0;
	}

}

.wrap {

	&.white {
		background: #fff;
	}

	&.wrap-admin {
		padding-bottom: 160px;
	}

	&.header-wrap {
		min-height: auto;
		background: @color2;
		padding: 0;
		margin-bottom: 50px;

		.menu {
			a, .btn {
				.white-link();
			}
		}

	}

	> .container {
		padding: 0;
	}

	> .container.no-padding {
		padding: 0;
	}

}



.wrap.header-main {
	height: 117px;
	min-height: auto;
	background-color: #fff;
	background-image: url('/images/style/pattern1.png');
	padding-top: 30px;

	.container {
		position: relative;
	}

	.logo {
		position: relative;
		width: 110px;
		> img {
			position: absolute;
			top: 0;
			left: 15px;
		}
	}

	.logo-text {
		padding-left: 120px;
		h1 {
			font-size: 30px;
			color: @color2;
			&.text1 {
				font-weight: 400;
				padding-top: 8px;
			}
			&.text2 {
				font-weight: 200;
			}
		}
	}

	.links {
		padding-top: 30px;
		padding-right: 30px;
		a {
			.red-link();
			font-weight: 200;
			font-size: 13px;
		}
	}

	.language {
		padding-top: 30px;
		a {
			color: #000;
			&:hover {
				border: none;
				text-decoration: none;
			}
		}
		.kz, .ru, .switch {
			display: inline-block;
			vertical-align: middle;
		}

		.kz, .ru {
			font-size: 13px;
			font-weight: 200;
			cursor: pointer;
		}

		.switch {
			width: 33px;
			border-bottom: 1px solid #464646;
			margin: -3px 3px 0 3px;
			position: relative;
			padding: 3px 0px;


			&.ru {
				&:after {
					content: "";
					position: absolute;
					right: 0;
					top: 2px;
					width: 9px;
					height: 9px;
					background: #464646;
					.border-radius(4px);
				}
			}
			&.kk {
				&:after {
					content: "";
					position: absolute;
					left: 0;
					top: 2px;
					width: 9px;
					height: 9px;
					background: #464646;
					.border-radius(4px);
				}
			}

		}
	}

	.undp {
		position: absolute;
		right: 0;
		top: -30px;
		width: 125px;
		height: 220px;
		background-color: rgba(255,255,255,.9);

		img {
			padding-top: 30px;
			display: block;
			margin: 0 auto;
		}
	}

}

.wrap.menu-sm {

	background-color: @color2;
	height: 60px;

	&.admin {
		height: auto;
		min-height: 60px;
		margin-bottom: 60px;
		.menu-list {
			padding-left: 0;
		}

	}

	&.submenu {
		background: @color3;
		height: auto;
		min-height: 60px;
	}

	.menu-list {
		padding-left: 140px;
		line-height: 60px;

		a, .logout {
			.white-link();
		}

		.logout {
			padding: 0;
			border: 0;
		}
		a.dd-menu:hover {
			border: none;
		}


	}

	.submenu-list {
		padding-left: 140px;
		padding-right: 160px;
		line-height: 60px;

		a {
			.white-link();
			font-size: 14px;
			font-weight: 200;
		}




	}

}

.wrap.menu-xs {
	background: #fff;
	position: fixed;
	top: 0;
	right: -100%;
	width: 80%;
	height: 100%;
	z-index: 1999;
	overflow-y: scroll;
	.drop-shadow(0, -2px, 16px, 16px);
	.border-radius(15px);
	.transition(all, 0.5s, ease-in);

	&.visible {
		right: -15px;
	}

	.menu-icon {
		color: #000;
	}

	.menu-list {
		padding-left: 18px;
		padding-top: 30px;
		.item a {
			display: block;
			font-weight: 200;
			font-size: 16px;
			padding-bottom: 15px;
			color: #000;

			img {
				padding-right: 20px;
			}

		}

		.delim {
			margin-bottom: 30px;
		}

	}

}

.admin-content {
	padding: 20px 0 0 0;
}

.button-row {
	padding-bottom: 30px;
}

.note {
	padding-left: 20px;
	position: relative;
	color: #ff0000;
	font-size: 15px;
	div {
		display: none;
		position: absolute;
		color: #000;
	}

	&:hover {
		div {
			display: block;
			min-width: 250px;
			top: 0;
			z-index: 999;
			background: #fff;
			border: 1px solid #ccc;
			padding: 10px;
			text-align: justify;
    		text-justify: inter-word;
			.drop-shadow(2px, 2px, 4px, 0, 0.5);
		}
	}

}

.hover-light {
	.transition(all, 0.3s, ease-in);

	&:hover {
		background: @light1;
	}
}

.yandex-map {
	min-height: 400px;
}


.blue-rounded {
	background: #f0f8ff;
	.border-radius(10px);
}

.inline {
	> div {
		display: inline-block;
		vertical-align: top;
	}
}

.view-block-container {
	padding: 10px;
	margin-bottom: 20px;

	&.map {
		padding: 10px 0;
		height: 300px;
	}

	&.white {
		background: #fff;
	}

	&.shadow {
		.drop-shadow();
	}

	&.no-lp {
		padding-left: 0;
	}

	&.executors {
		table tr td:nth-child(1) span {
			color: @dark1;
		}
		table tr td:nth-child(2) {
			text-align: right;
		}
	}

	.heading {
		color: @dark1;
		border-bottom: 1px solid @dark2;
		margin-bottom: 20px;
	}

}

.application-description {
	margin-bottom: 40px;
	padding: 10px;
	.drop-shadow();

	h2 {
		margin-bottom: 30px;
	}

	.description-content {
		padding-top: 20px;
	}

}

.application-info {
	margin-bottom: 60px;
	.drop-shadow();
	.heading {
		padding-bottom: 5px;
		margin-bottom: 20px;
		border-bottom: 1px solid @dark2;
		font-style: italic;
		color: @dark1;
		font-weight: 200;

		.status {
			font-weight: 500;
		}
	}

	.content {
		font-size: 16px;
		font-weight: 200;
		.type {
			font-weight: 200;
			font-size: 22px;
			padding-bottom: 20px;
		}
		.text {
			padding-bottom: 30px;
		}
		.image {
			margin: 10px;
			text-align: right;
		}

		.orgs, .author {
			color:@dark1;
			padding-bottom: 10px;
			font-size: 14px;

			span {
				font-weight: 400;
			}
		}
	}
}

.application-item {

	&.type1 {
		line-height: 30px;
		border-bottom: 1px solid @darken;
		.date {
			text-align: right;
		}

		a {
			.blue-link();
		}
	}

}

.commends-block {

	position: relative;

	.empty {
		font-size: 16px;
		margin: 30px 0 30px 20px;
		font-style: italic;
		color: @dark1;
	}

	.single-commend {
		margin-bottom: 20px;
		margin-left: 22px;
		padding: 10px;
		background: #fff;
		.drop-shadow();
		padding-right: 50px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: -21px;
			top: -1px;
			width: 22px;
			height: 22px;
			background-image: url('/images/style/commend-triangle.png');
		}

		.name {
			font-weight: 600;
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid @darken;
			span {
				font-weight: 400;
				color: @dark1;
			}
		}

		.content {
			padding-bottom: 20px;
			padding-left: 50px;
		}

		.date {
			position: absolute;
			bottom: 10px;
			right: 10px;
			color: @m-grey;
			font-style: italic;
		}

		.controllers {
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}

}

.commend-form {
	margin-left: 22px;
}

.note {
	color: @color2;
	font-style: italic;
	font-weight: 200;
	margin-bottom: 30px;
	padding-left: 0;
}

.grid-view {

	.kv-grid-container .kv-grid-table{
		background: #f9f9f9;

		thead {
			background: @grey1;
			color: #fff;
			th {
				font-weight: 400;
				font-size: 14px;
			}

			a {
				.white-link();
				font-size: 14px;
			}
		}

	}

	.panel.panel-default {
		border: none;
		background: none;
		h3 {
			border-bottom: none;
		}
		.panel-heading {
		}

		.kv-panel-after {
			display: none;
		}
	}

	.panel-heading {
		.pagination {
			padding: 0;
			margin: 0;
   			vertical-align: middle;
		}

		.btn-export {
			background: #fff;
			.border-radius();
			font-size: 16px;
			margin-left: 30px;
		}

		.summary {
			line-height: 34px;
		}

		.search {
			margin-bottom: 20px;
			.search-text {
				line-height: 34px;
			}
		}
	}
}

.page-index {

	.wrap {
		padding-top: 75px;
		padding-bottom: 60px;
	}

	.wrap1 {
		background-color: #fff;
		padding-top: 100px;
		padding-bottom: 60px;
		h1 {
			font-weight: 200;
			text-align: center;
			position: relative;
			margin-bottom: 100px;
			color: #555;
			&:after {
				content: "";
				position: absolute;
				width: 200px;
				height: 1px;
				left: 50%;
				bottom: -20px;
				border-bottom: 2px solid #ff0000;
				margin-left: -100px;
			}
		}

		.scheme {
			text-align: center;
			.item {
				height: 64px;

				.text {
					padding-left: 15px;
					padding-top: 10px;
					>span {
						font-size: 18px;
						text-align: left;
						text-transform: uppercase;
						line-height: 26px;
						>span {
							font-size: 14px;
							display: block;
						}
					}
					a {
						.blue-link();
						border-bottom: 1px solid @color2;
						font-size: 18px;
					}
				}

			}

			.delim {
				height: 64px;
				padding: 20px 40px 0 40px;
			}

		}
	}

	.wrap1-sm {
		background-color: #fff;
		padding-top: 100px;
		padding-bottom: 60px;
		h1 {
			font-weight: 200;
			text-align: center;
			position: relative;
			margin-bottom: 100px;
			color: #555;
			&:after {
				content: "";
				position: absolute;
				width: 200px;
				height: 1px;
				left: 50%;
				bottom: -20px;
				border-bottom: 2px solid #ff0000;
				margin-left: -100px;
			}
		}

		.scheme {
			text-align: center;
			.item {
				height: auto;
					display: block;


				.text {
					padding-left: 15px;
					padding-top: 10px;
					padding-bottom: 30px;
					>span {
						font-size: 18px;
						text-align: left;
						text-transform: uppercase;
						line-height: 26px;
					}
					a {
						.blue-link();
						border-bottom: 1px solid @color2;
						font-size: 18px;
						margin-right: 0;
					}
				}

			}

			.delim {
				height: 64px;
				padding: 20px 40px 0 40px;
			}

		}
	}

	.wrap2 {
		position: relative;
		background: @color3;

		.container {
			max-width: 700px;
		}

		.triangle-white {
			position: absolute;
			width: 61px;
			height: 31px;
			top: -1px;
			left: 50%;
			margin-left: -30px;
			background: url('/images/style/triangle-white.png');
		}

		.counter {
			text-align: center;
			padding-bottom: 15px;
			&.c-alert {
				color: #ffadad;
			}
			&.c-success {
				color: #62cf8d;
			}
			.image {
				padding-right: 30px;
			}

			.num {
				font-size: 64px;
				line-height: 64px;
				font-weight: 200;
			}
		}

		.text-descr {
			font-size: 24px;
			color: #fff;
			font-weight: 100;
			text-align: center;
		}

	}

	.wrap3 {
		background: #fff;

		.completed-items {
			position: relative;

			.item {
				margin-bottom: 30px;
				.item-images {
					position: relative;
					margin-bottom: 15px;
					.holder {
						position: absolute;
						width: 100%;
						height: 100%;

						opacity: 0;
						.transition(all, 0.5s, ease-in);

						&:hover {

							opacity: 1;
						}
					}

					.date {
						position: absolute;
						bottom: 0;
						width: 100%;
						height: 30px;
						padding-left: 10px;
						background: rgba(81, 118, 162, .8);
						color: #fff;
						cursor: default;
						line-height: 30px;
						font-size: 12px;
					}
				}

				.item-name {
					text-align: center;
					height: 30px;
					font-size: 16px;
					line-height: 30px;
					background: @color1;
					color: #fff;
					cursor: default;
				}

			}

		}

		.solved {
			text-align: right;
		}

	}

	.wrap4 {

		background-color: @darken;
		background-image: url('/images/style/bg_pat_1.png');

		padding-top: 30px;
		padding-bottom: 30px;
		.container {
		}

		h3 {
			text-align: center;
			color: #555;
			border: none;
			margin-bottom: 15px;
			font-weight: 400;;
		}
		.input-group {
			max-width: 600px;
			margin: 0 auto;

			.btn {
				background-color: @color3;
				color: #fff;
			}
		}

		.result {
			margin-top: 30px;
			text-align: center;
			font-size: 16px;

			a {
				.blue-link();
				font-size: 16px;
			}

		}

	}

	.wrap5 {
		background-color: #fff;

		.news-block {
			position: relative;
			margin-bottom: 30px;
			.date {
				font-size: 14px;
				padding-bottom: 5px;
				margin-bottom: 10px;
				border-bottom: 1px solid @dark2;
				color: @dark1;
			}
			.title {
				font-weight: 500;
				color: @color2;
			}
			.link {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.archive {
			text-align: right;
		}

	}

}

.wrap-bottom {
	padding-top: 30px;
	padding-bottom: 30px;

	a {
		&.image:hover {
			border: none;
		}
		.grey-link();
		line-height: 30px;
		font-size: 14px;
	}

}

.default-page {
	.wrap {
		padding-top: 75px;
		padding-bottom: 60px;
		background: #fff;
	}
}

.page-news {
	.wrap {
		padding-top: 75px;
		padding-bottom: 60px;
		background: #fff;

		.container {
			max-width: 900px;
		}
	}

	.news-content {
		font-size: 16px;
		position: relative;
		img {
			max-width: 100%;
		}
	}

}

.news-index-page {
	h3 {
		margin-top: 30px;
	}

	.news-archive .title {
		padding-left: 30px;
		padding-bottom: 5px;
	}
}

.footer {
	background: @color2;
	padding-top:30px;
	padding-bottom:30px;
	color: #fff;
	text-align: center;
		font-size: 12px;
	a {
		.white-link();
		font-size: 12px;
	}
}

.site-login {
	text-align: center;

	#login-form {
		max-width: 300px;
		margin: 0 auto;
	}

	.register {
		line-height: 30px;
		margin-top: 50px;
		font-size: 16px;
		font-weight: 200;
		a {
			.blue-link();
			font-weight: 500;
		}
	}

}

.event-map {

	.container {
		width: 90%;
	}

	.map-switch {
		position: relative;
		margin-top: 60px;

		.btn {
			width: 49%;
		}

		> div {
			width: 98%;
			margin-top: 15px;
		}

	}

	.menu-container {
		margin: 20px 0 60px 0;
		padding-right: 15px;
	}

	.menu {
		position: relative;
		overflow: hidden;
		height: auto;
		.drop-shadow(0, 8px, 6px, -6px);

		.scrollbar {
			position: absolute;
			top: 0;
			right: -20px;
			height: 100%;
			width: 20px;
		}

		.category {
			position: relative;

			&:first-child {
				.title {
					border-top: 1px solid #eee;
				}
			}

			.name {
				cursor: pointer;
			}

			.icon {
				position: absolute;
				padding: 10px;
				background-color: @color3;
			}

			.title {
				line-height: 50px;
				padding-left: 70px;
				padding-right: 50px;
				//background-color: @darken;
				.gradient(#fff, #eee);
				border-bottom: 1px solid #ccc;
				font-weight: 400;

			}

			.items {
				max-height: 1800px;
				overflow: hidden;
				.transition(all, 1s, ease-in);
				.item {
					position: relative;
					cursor: pointer;

					>.icon {
						background-color: @color3;
					}

					>.title {
						.gradient(@darken2, @darken2);
						font-weight: 200;
					}



					>.visibility {
						position: absolute;
						top: 0;
						right: 0;
						width: 50px;
						height: 50px;
						background: url("/images/style/eye-open.png");
						&.closed {
							background: url("/images/style/eye-closed.png");
						}
					}

				}



			}



			&.closed {
				.items {
					.transition(all, 0.1s, ease-in);
					max-height: 0px;
				}
			}

		}

	}

	.map {
		margin: 60px 0;
		.drop-shadow(0, 8px, 6px, -6px);
	}

}

.wrap-infographics {
	.container {
		padding: 60px 0;
	}
}

.balloon-c {
	width: 250px;
	height: 50px;
}

.balloon-project {
	width: 350px;
	height: auto;

	.project-item {
		.project-item();
		border: none;
	}
}

.wrap7 {
	background: #fff;
	padding: 0 !important;

	.p-container {
		.transition(all, 0.3s, ease-in);
		&:hover {
			//background-color: @color4;
		}
		.product {
			text-align: center;
			padding-top: 75px;
			padding-bottom: 60px;
			height: 420px;
			overflow: hidden;
			a {
				//.white-link();
			}

			.image {
				margin-bottom: 20px;
				.img {
					margin: 0 auto;
				}

				.perspective();
			}

			.heading {
				font-size: 24px;
				text-transform: uppercase;
				margin-bottom: 15px;
			}

			.content {
				font-size: 14px;
				font-weight: 200;
				color: @color2;
			}
		}
	}



}

.stat-form {

	.excel-row {
		margin-bottom: 30px;

		.btns {
			text-align: center;
		}

		.form-control {
			background: none;
			.box-shadow(none);
			border: none;
			&.has-error {
				border: 1px solid #f00;
			}
		}

	}




	.form {
		.cc {
			height: 100px;
			overflow: hidden;
		}
		label {
			font-size: 10px;
			height: 40px;
			overflow: hidden;
		}

		.agree-row {
			margin-bottom: 30px;
			label {
				font-size: 14px;
				height: auto;
				margin-top: 30px;
			}
		}

		.submit-row {

		}

	}

}

.loader {
	&.sm {
		height: 30px;
		width: 30px;
		background: url('/images/style/loading.gif') no-repeat;
		background-size: contain;
	}
}

.listing-container {
	.item {
		margin-bottom: 30px;
		.title {
			font-size: 18px;
			border-bottom: 1px solid #ccc;
			margin-bottom: 10px;
		}

		.content {
			font-size: 14px;
		}
	}
}

.column3 {
	 -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.panel {
	background: #fff;
	padding: 15px;

	h2 {
		margin-bottom: 0;
	}

}

.list-view {
	.summary {
		padding-bottom: 30px;
		text-align: right;
		color: @dark1;
	}

	.pagination {
		margin: 30px 0 20px 0;
	}
}

.project-list {
	margin-top: 30px;
	> .item {
		margin-bottom: 30px;
		> .heading {
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 500;
			margin-bottom: 15px;
			color: @dark1;
		}

		> .conten {

		}

		.project-item {
			border: 1px dashed @grey1;
			padding: 10px;
			margin-bottom: 15px;
			.heading {
				font-weight: 500;
				.date {
					font-size: 12px;
				}
			}

			.content {
				font-weight: 400;
				padding-bottom: 5px;
				color: @dark1;
			}
		}

	}
}

.button-row {
	display: inline-block;
	border: 1px solid @color2;
	margin-bottom: 30px;
	padding: 0;
	.border-radius(5px);
	&:after {
		content: "";
		display: table;
		clear: both;
	}

	a {
		display: block;
		float: left;
		padding: 10px 20px;
		border-right: 1px solid @color2;
		color: @color2;
		&:last-child {
			border-right: none;
		}
		&.active, &:hover {
			color: #fff;
			background: @color2;
		}
		.transition(all, 0.2s);
	}

}


.breadcrumbs {
  margin-bottom: 40px;
  > span {
    display: block;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    position: relative;
    &:after {
      content: "/";
      position: absolute;
      right: 0;
      top: 0;
      display: block;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      &:after {
          display: none;
      }
    }
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.file-list {
  .heading {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .item {
    line-height: 30px;
    border: 1px solid #ccc;
    border-bottom: 0;
    &:last-child {
      border-bottom: 1px solid #ccc;      
    }
    &:after {
      content : "";
      display: block;
      clear: both;
    }
    .ext {
      float: left;
      padding: 10px;
      width: 10%;
      text-align: center;
      text-transform:uppercase;
    }
    .title {
      float: left;
      padding: 10px;
      width: 80%;
    }
    .action {
      float: left;
      padding: 10px;
      width: 10%;
    }

    .ext, .title {
      border-right: 1px solid #ccc;
    }

  }
}
