.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow-white (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 1) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(255, 255, 255, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(255, 255, 255, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(255, 255, 255, @alpha);
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.gradient (@startColor: white, @endColor: #eee) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}

.transition (@prop: all, @time: 1s, @ease: linear, @delay: 0s) {
	-webkit-transition: @prop @time @ease @delay;
	-moz-transition: @prop @time @ease @delay;
	-o-transition: @prop @time @ease @delay;
	-ms-transition: @prop @time @ease @delay;
	transition: @prop @time @ease @delay;
}

.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}

@color0: #f9f9f9;
@color1: #87adda;
@color2: #2b517d;
@color2_2: #193b62;
@color2_3: #0f2c4d;
@color3: #5176a2;
@color4: #209620;

@grey1: #a9a9af;


/*@color1: rgba(218, 210, 216, 1);
@color2: rgba(20, 54, 66, 1);
@color3: rgba(15, 139, 141, 1);
@color4: rgba(236, 154, 41, 1);
@color5: rgba(168, 32, 26, 1);*/

@dark1: #777;
@dark2: #d8d8d8;

@darken: rgb(245, 245, 245);
@darken2: rgb(253, 253, 253);
@m-grey: #777;

@light1: rgba(255,255,255,.3);
@light2: rgba(255,255,255,.8);

.white-link() {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	margin-right: 30px;
	&:hover {
		border-bottom: 1px solid #fff;
	}
	&:last-child {
		margin-right: 0;
	}
}
.grey-link() {
	color: @dark1;
	text-decoration: none;
	font-size: 16px;
	margin-right: 30px;
	&:hover {
		border-bottom: 1px solid @dark1;
	}
	&:last-child {
		margin-right: 0;
	}
}
.blue-link() {
	color: @color2;
	text-decoration: none;
	margin-right: 30px;
	&:hover {
		border-bottom: 1px solid @color2;
	}
	&:last-child {
		margin-right: 0;
	}
}
.red-link() {
	color: #f00;
	text-decoration: none;
	margin-right: 30px;
	&:hover {
		border-bottom: 1px solid #f00;
	}
	&:last-child {
		margin-right: 0;
	}
}

.project-item() {
	border: 1px dashed @grey1;
	padding: 10px;
	margin-bottom: 15px;
	.heading {
		font-weight: 500;				
		.date {
			font-size: 12px;
		}	
	}
	
	.content {
		font-weight: 400;
		padding-bottom: 5px;
		color: @dark1;
	}
}
